---
layout: layouts/base.njk
pagination:
  data: prismic.vehicle
  size: 1
  alias: vehicle
	addAllPagesToCollections: true
permalink: "/model/{{ vehicle.uid }}/"
---

{# {{ prismic.vehicle | log }} #}

<section class="section">
  <div class="container">
    <div class="section__header text-center">
      <h1>{% asText vehicle.data.name %}</h1>
    </div>
    {# {% asText vehicle.data.body %} #}
    {# <div class="section__block">
      {% for vehicle in prismic.vehicle %}
        <div class="text-center">
          <div class="aspect-1-1 mb-1">
            {% image vehicle.data.photos, "img-fluid" %}
          </div>
          {% link page, manufacturer %}View models ->{% endlink %}
        </div>
      {% else %}
        <p>No manufacturers found</p>
      {% endfor %}
      </div>
    </div> #}
  </div>
</section>
