// ==============================
// Styles
// ========================================

// ====================
// Base styles
// ========================================

html, body {
  height: 100%;
}

body {
	overflow-y: auto;
  overflow-x: hidden;

  &.no--scroll {
    overflow: hidden;
  }
}
