<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <script>
    document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + 'has-js ';
  </script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="HandheldFriendly" content="True">

  {# Start Basic meta #}
  <title>{% if renderData.title or title or metadata.title %}{{ renderData.title or title or metadata.title }}{% if permalink !== "index.html" %} | {% endif %}{% endif %}{% if permalink !== "index.html" %}{{ siteData.name }}{% endif %}</title>
  <meta name="description" content="{{ renderData.description or description or metadata.description }}">
  {# End Basic meta #}

  <link rel="stylesheet" href="/styles/index.css">
</head>
<body class="d-flex flex-column {% if bodyClasses %}{{ bodyClasses }}{% endif %}" id="top" itemscope itemtype="http://schema.org/WebPage">
  {% include 'components/header/header.njk' %}
  {# Start Main content #}
  <main class="main flex-grow-1">
    {{ content | safe }}
  </main>
  {# End Main content #}
  {% include 'components/footer/footer.njk' %}
  <script src="/scripts/index.js"></script>
</body>
</html>
