---
layout: layouts/base.njk
title: Car lease
permalink: "car-lease/"
---
<section class="section">
  <div class="container container-sm">
    <div class="section__header text-center">
      <h1>{% asText prismic.home[0].data.title %}</h1>
    </div>
    <div class="section__block">
      <div class="row">
      {% for manufacturer in prismic.manufacturer %}
        <div class="col-12 col-md-6 col-lg-4">
          <div class="text-center">
            <h2>{% asText manufacturer.data.name %}</h2>
            <div class="aspect-1-1 mb-1">
              {% link page, manufacturer %}{% image manufacturer.data.logo, "img-fluid" %}{% endlink %}
            </div>
            {% link page, manufacturer %}View models ->{% endlink %}
          </div>
        </div>
      {% else %}
        <p>No manufacturers found</p>
      {% endfor %}
      </div>

    </div>
  </div>
</section>