---
layout: layouts/base.njk
pagination:
  data: prismic.manufacturer
  size: 1
  alias: manufacturer
	addAllPagesToCollections: true
permalink: "car-lease/{{ manufacturer.uid }}/"
---

{{ prismic.vehicle | log }}
{{ prismic.manufacturer | log }}

{% set allModels = prismic.vehicle %}
{% set manufacturerModels = [] %}
{% for model in allModels %}
  {% if model.data.manufacturer.id === manufacturer.id %}
    {% set manufacturerModels = (manufacturerModels.push(model), manufacturerModels) %}
  {% endif %}
{% endfor %}

<section class="section">
  <div class="container">
    <div class="section__header text-center">
      <h1>{% asText manufacturer.data.name %}</h1>
    </div>
    <div class="section__block">
      <div class="row">
      {% for model in manufacturerModels %}
        <div class="col-12 col-md-6 col-lg-4">
          <h1>{% asText model.data.name %}</h1>
        </div>
      {% else %}
        <p>No vehicles found</p>
      {% endfor %}
      </div>
    </div>
  </div>
</section>