---
layout: layouts/base.njk
pagination:
  data: prismic.manufacturer
  size: 1
  alias: manufacturer
permalink: "car-lease/{{ manufacturer.uid }}/"
---

{% set allModels = prismic.vehicle %}
{% set manufacturerModels = [] %}
{% for model in allModels %}
  {% if model.data.manufacturer.id === manufacturer.id %}
    {% set manufacturerModels = (manufacturerModels.push(model), manufacturerModels) %}
  {% endif %}
{% endfor %}

<section class="section">
  <div class="container">
    <div class="section__header text-center">
      <h1>{% asText manufacturer.data.name %}</h1>
    </div>
    <div class="section__block">
      <div class="row">
      {% for model in manufacturerModels %}
        <div class="col-12 col-md-6 col-lg-4">
          <h1>{% asText model.data.name %}</h1>
          {% image model.data.main_image.thumb, "class", "img-fluid mb-1" %}
          {% link page, model %}View details ->{% endlink %}
        </div>
      {% else %}
        <div class="col-12">
          <p class="text-center">No vehicles found</p>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
</section>