---
layout: layouts/base.njk
pagination:
  data: prismic.vehicle
  size: 1
  alias: vehicle
permalink: "car-lease/{{ vehicle.data.manufacturer.slug }}/{{ vehicle.uid }}/"
---
{% set manufacturer = prismic.manufacturer | findById(vehicle.data.manufacturer.id) %}

<section class="section">
  <div class="container container-sm">
    <p><- {% link page, manufacturer %}{% asText manufacturer.data.name %}{% endlink %}</p>
    <div class="section__header text-center">
      <h1>{% asText vehicle.data.name %}</h1>
    </div>
    <div class="section__block">
      {% image vehicle.data.photos[0].image, "class", "img-fluid mb-1 mb-md-2" %}
      <div class="slices">
        {% for slice in vehicle.data.body %}
          {% if slice.slice_type === 'text' %}
            <div class="slice content">
              {% asHTML slice.primary.text %}
            </div>
          {% endif %}
          {% if slice.slice_type === 'embed' %}
            <div class="slice content">
              {% embed slice.primary.embed, "div", "class", "embed aspect--16-9" %}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% set allModels = prismic.vehicle %}
{% set similarModels = [] %}
{% for model in allModels %}
  {% if model.data.manufacturer.id === vehicle.data.manufacturer.id and model.id !== vehicle.id %}
    {% set similarModels = (similarModels.push(model), similarModels) %}
  {% endif %}
{% endfor %}

<section class="section">
  <div class="container">
    <div class="section__header text-center">
      <h2>More {% asText manufacturer.data.name %} models</h2>
    </div>
    <div class="section__block">
      <div class="row">
      {% for model in similarModels %}
        <div class="col-12 col-md-6 col-lg-4">
          <h1>{% asText model.data.name %}</h1>
          {% image model.data.main_image.thumb, "class", "img-fluid mb-1" %}
          {% link page, model %}View details ->{% endlink %}
        </div>
      {% else %}
        <div class="col-12">
          <p class="text-center">No vehicles found</p>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
</section>