---
layout: layouts/base.njk
title: Title Strings
permalink:
  build: /
---
<section class="section">
  <div class="container container-sm">
    <div class="section__header text-center">
      <h1>Drive Electric Demo</h1>
    </div>
    <div class="section__block text-center">
      <p>A demo to show how Drive Electric could utilise the JAMstack Architecture to make a blazingly fast website.</p>
      <p>Built using <a href="https://www.11ty.dev/" target="_blank">11ty</a>, <a href="https://prismic.io/" target="_blank">Prismic</a> and <a href="https://www.netlify.com" target="_blank">Netlify</a></p>
      <p>---</p>
      <p><a href="/car-lease/">Example content</a></p>
      <p><a href="/vehicle/">Example 301 redirect (/vehicle/)</a></p>
      <p><a href="https://drive-electric.prismic.io" target="_blank">Prismic repository</a></p>
    </div>
  </div>
</section>