{# START: imports #}
{% import 'components/icons/icons.njk' as icons with context %}
{# END: imports #}

<header class="header py-1 text-center bg-light">
  <div class="container">
    Header here
  </div>
</header>
{# end of header #}

